columns\*index =values

In [97]:
def sq(x):
    return x**2

In [98]:
sq(4)

16

In [99]:
assert sq(4) == 16

In [100]:
import pandas as pd

In [101]:
df = pd.DataFrame({
    'a': [10,20,30],
    'b': [20,30,40],
})
df

    a   b
0  10  20
1  20  30
2  30  40

In [102]:
df['a'] ** 2

0    100
1    400
2    900
Name: a, dtype: int64

In [103]:
df['a'].apply(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [104]:
def print_me(x,*arg):
    print(x)

In [105]:
df.apply(print_me)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [106]:
def avg(x,y,z):
    return (x + y + z)/3

In [107]:
# df.apply(avg) this generate a error because whole column gets passed to x only at a time
df.apply(avg, y=2,z=4)

           a          b
0   5.333333   8.666667
1   8.666667  12.000000
2  12.000000  15.333333

In [108]:
import numpy as np

def avg_3(col):
    return np.mean(col)

In [109]:
df.apply(avg_3, axis='columns')

0    15.0
1    25.0
2    35.0
dtype: float64

In [110]:
df['a'].mean()

np.float64(20.0)

In [111]:
df['a']+df['b']

0    30
1    50
2    70
dtype: int64

In [112]:
def avg_2_mod(x,y):
    if (x==20):
        return np.nan
    else:
        return (x+y)/2

In [113]:
avg_2_mod(df['a'],df['b'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [114]:
avg_2_mod_vec = np.vectorize(avg_2_mod)

In [115]:
avg_2_mod_vec(df['a'],df['b'])

array([15., nan, 35.])

In [117]:
@np.vectorize
def avg_2_mod(x,y):
    if (x==20):
        return np.nan
    else:
        return (x+y)/2

In [118]:
avg_2_mod(df['a'],df['b'])

array([15., nan, 35.])

In [122]:
%%timeit
avg_3(df['a'])

34.1 μs ± 3.92 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [123]:
%%timeit
avg_2_mod(df['a'],df['b'])

75 μs ± 5.1 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

2:15:00